@tailwind base;
@tailwind components;
@tailwind utilities;
@import './fonts/stylesheet.css';
@import '../components/SlideMenu/SlideMenu.css';
@import '../components/DevFrontDecoration/DevFrontDecoration.css';
@import '../components/Progress/Progress.css';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.mapBackground{
 background-image: url('../../public/map-texture.webp');
}

html,
body {
  overflow-x: hidden;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar{
  width: .5em;
  background-color: #161616;
}
body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  background: #161616;
}
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background:#4f1ca0;
  border-radius: .4em;
}

@media (max-width: 768px){
  .zoomSvg{
  zoom:.5
}
}
