
@font-face {
    font-family: 'Aero Matics';
    src: url('AeroMaticsBoldItalic.eot');
    src: url('AeroMaticsBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AeroMaticsBoldItalic.woff2') format('woff2'),
        url('AeroMaticsBoldItalic.woff') format('woff'),
        url('AeroMaticsBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aero Matics';
    src: url('AeroMaticsLightItalic.eot');
    src: url('AeroMaticsLightItalic.eot?#iefix') format('embedded-opentype'),
        url('AeroMaticsLightItalic.woff2') format('woff2'),
        url('AeroMaticsLightItalic.woff') format('woff'),
        url('AeroMaticsLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aero Matics';
    src: url('AeroMaticsItalic.eot');
    src: url('AeroMaticsItalic.eot?#iefix') format('embedded-opentype'),
        url('AeroMaticsItalic.woff2') format('woff2'),
        url('AeroMaticsItalic.woff') format('woff'),
        url('AeroMaticsItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aero Matics';
    src: url('AeroMaticsRegular.eot');
    src: url('AeroMaticsRegular.eot?#iefix') format('embedded-opentype'),
        url('AeroMaticsRegular.woff2') format('woff2'),
        url('AeroMaticsRegular.woff') format('woff'),
        url('AeroMaticsRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aero Matics';
    src: url('AeroMaticsBold.eot');
    src: url('AeroMaticsBold.eot?#iefix') format('embedded-opentype'),
        url('AeroMaticsBold.woff2') format('woff2'),
        url('AeroMaticsBold.woff') format('woff'),
        url('AeroMaticsBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aero Matics';
    src: url('AeroMaticsLightRegular.eot');
    src: url('AeroMaticsLightRegular.eot?#iefix') format('embedded-opentype'),
        url('AeroMaticsLightRegular.woff2') format('woff2'),
        url('AeroMaticsLightRegular.woff') format('woff'),
        url('AeroMaticsLightRegular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

